# This file allows you to set up omitted items (e.g. things cannot be researched) and aliases (equivalent item groups).
# For both `omit` and `alias`, the program only looks for item #IDs, the rest is for readability.
# Consider submitting your changes if they universally apply!

omit #603 Carrot (Collector's Edition only)
omit #766 Bone Block (now drops bones)
alias Rubblemaker #5329 (M) / #5330 (L)
alias Shellphone #5358 (Home) / #5359 (Spawn) / #5360 (Ocean) / #5361 (Underworld)
alias Encumbering Stone #4346 / Uncumbering Stone #5391
